name: Release

on:
  release:
    types: [published]

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Generate filters.txt
      run: make
    - name: Upload asset
      run: gh release upload ${{ github.event.release.tag_name }} filters.txt --clobber
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
